.listItem {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.delete {
  height: fit-content;
}
